.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.image {
  max-width: 300px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.state {
  margin-bottom: 100px;
}

.filters {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 750px) {
  .desktop {
    display: none;
  }
}

.plusminus {
  padding: 8px;
  border-radius: 4px;
  border: 1px dotted black;
  margin: 0 4px;
}

.plusminus-pos {
  background-color: rgba(255, 99, 132, 0.2);
}

.plusminus-neg {
  background-color: rgba(54, 162, 235, 0.2);
}

.plusminus-d {
  background-color: rgba(255, 206, 86, 0.2);
}
