.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.image {
  max-width: 300px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.state {
  margin-bottom: 100px;
}

.filters {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 750px) {
  .desktop {
    display: none;
  }
}
