.margin-top {
  margin-top: 100px;
}

.margin-bottom {
  margin-bottom: 100px;
}

.center {
  text-align: center;
}

.image {
  max-width: 400px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}
